<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>

    <form action="/products" method="POST" class="productForm">
        <label for="product">Product Name</label>
        <input
            type="text"
            id="product"
            name="productName"
        >
        <button type="submit">Add Product</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
    <script src="/js/products.js"></script>
</body>
</html>