<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cashfree Checkout Integration</title>
    <link rel="stylesheet" href="/css/payment.css" />
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
  </head>
  <body>

    <div id="paymentStatus"></div>

    <div class="row">
      <p id="paymentInstruction">Click below to open the checkout page in current tab</p>
      <button id="renderBtn">Proceed to Pay</button>
    </div>

    <!-- <script src="/js/cashfreePayment-self.js"></script> -->
    <script src="/js/cashfreePayment-modal.js"></script>
  </body>
</html>
