<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/userSignIn.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
  </head>
  <body>
    <div class="resetPassword-form-container">
      <form
        action="/password/updatedPassword"
        method="post"
        class="resetPassword-form"
      >
        <h3>enter new password:</h3>
        <label for="updated-passowrd"></label>
        <div class="password-container">
          <input
            type="password"
            name="updated-passowrd"
            id="updated-passowrd"
            class="password"
            required
          />
          <button type="button" class="eye-btn" id="eyeBtn">👁</button>
        </div>
        <button type="submit" class="reset-form-submit-btn">submit</button>
      </form>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
