<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <h1>Create a Post</h1>
    
    <!-- post form -->

    <div class="postFormDiv">
        <form action="/add-post" method="post" class="postForm">
            <label for="postLink">Post Link:</label>
            <input type="url" name="link" id="postLink" required>
            <label for="postDesc">Post Description:</label>
            <input type="text" name="desc" id="postDesc" required>

            <button type="submit">Create Post</button>
        </form>
    </div>

    <h1>Posts</h1>

    <!-- all posts -->

    <ul class="allPosts"></ul>

    <!-- comment form -->

    <form action="/add-comment" method="post" class="commentForm">
        <label for="comments">Comment</label>
        <input type="text" name="comment" id="comments">
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
    <script src="/js/postFront.js"></script>
</body>
</html>